.w3-theme-l5 {color:#000 !important; background-color:#ecf6fb !important}
.w3-theme-l4 {color:#000 !important; background-color:#c1e1f2 !important}
.w3-theme-l3 {color:#000 !important; background-color:#82c4e5 !important}
.w3-theme-l2 {color:#fff !important; background-color:#44a6d7 !important}
.w3-theme-l1 {color:#fff !important; background-color:#247fac !important}
.w3-theme-d1 {color:#fff !important; background-color:#154962 !important}
.w3-theme-d2 {color:#fff !important; background-color:#134158 !important}
.w3-theme-d3 {color:#fff !important; background-color:#10384d !important}
.w3-theme-d4 {color:#fff !important; background-color:#0e3042 !important}
.w3-theme-d5 {color:#fff !important; background-color:#0c2837 !important}

.w3-theme-light {color:#000 !important; background-color:#ecf6fb !important}
.w3-theme-dark {color:#fff !important; background-color:#0c2837 !important}
.w3-theme-action {color:#fff !important; background-color:#0c2837 !important}

.w3-theme {color:#fff !important; background-color:#17516d !important}
.w3-text-theme {color:#17516d !important}
.w3-border-theme {border-color:#17516d !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#17516d !important}
.w3-hover-text-theme:hover {color:#17516d !important}
.w3-hover-border-theme:hover {border-color:#17516d !important}