.logo {
  /*height: 32px;*/
  padding: 21px 29px;
  /*margin: 16px;*/
  background: rgb(133, 12, 12);
  display: flex;
}

.logo-client-name {
  color: #fff;
  align-self: baseline;
}

/*.site-layout-sub-header-background {
  background: #fff;
}*/

.site-layout-background {
  background: #fff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 3px;
}

[data-theme="dark"] .site-layout-sub-header-background {
    background: #141414;
}